
<div class="flex flex-col space-y-3">
    {{ form_start(form) }}
    <div>
        {{ form_label(form.name, null, {'attr': {'class': 'block mb-0.5 items-center text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}} ) }}
    </div>
    <div>
        {{ form_label(form.description, null, {'attr': {'class': 'block mb-0.5 items-center text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}} ) }}
    </div>
    <div>
        {{ form_label(form.price, null, {'attr': {'class': 'block mb-0.5 items-center text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.price, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}} ) }}
    </div>
    <div>
        {{ form_label(form.quantity, null, {'attr': {'class': 'block mb-0.5 items-center text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.quantity, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}} ) }}
    </div>
    <div>
        {{ form_label(form.item_condition, null, {'attr': {'class': 'block mb-0.5 items-center text-sm font-medium text-gray-900 dark:text-white'}}) }}
        {{ form_widget(form.item_condition, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm w-full rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500'}} ) }}
    </div>

    <button type="submit" class="hidden text-black px-3 py-2 w-32 flex items-center text-center mx-auto text-xl font-semibold bg-mint hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-none rounded-2xl  dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"><span class="mx-auto">Register</span></button>
    {{ form_end(form) }}

</div>
